* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
	padding: 80px;
	text-align: center;
	background: #1abc9c;
	color: white;
}

.header h1 {
	font-size: 40px;
}

.navbar {
	overflow: hidden;
	background-color: #333;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
}

.navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 20px;
	text-decoration: none;
}

.navbar a:hover {
	background-color: #ddd;
	color: black;
}

.navbar a.active {
	background-color: #666;
	color: white;
}

.row {  
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
    flex: 1;
}

.side {
	background-color: #f1f1f1;
	padding: 20px;
}

.main {   
	-ms-flex: 70%;
	flex: 70%;
	background-color: white;
	padding: 20px;
}

.fakeimg {
	background-color: #aaa;
	width: 100%;
	padding: 20px;
}

.footer {
	padding: 20px;
	text-align: center;
	background: #ddd;
}






div.flag{
	margin-left: 20px;
	display: flex;
}



div.infos{
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 95%;
}

div.population{
	min-width: 111.817px;
	display: flex;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	flex-direction: column-reverse;
}


div.country-card-content{
	display: flex;
	box-shadow: 0px 6px 5px 4px lightgray;
	box-sizing: border-box;
	border-radius: 10px;
	border: solid rgb(240, 240, 240) 1px;
	background-color: rgb(240, 240, 240);
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 15px;
}



@media screen and (max-width: 700px) {
	.row {
		flex-direction: column;
	}
}


@media screen and (max-width: 1280px) {
	.navbar {
		display: flex;
		justify-content: center;
	}
}

@media screen and (max-width: 470px) {
	.navbar {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 700px) {
	a {
		margin-left: 10%;
		margin-right: 10%;
	}
}